.app {
  height: 100vh;
  display: flex;
  color: white;
  background-color: #020230;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("https://i.ytimg.com/vi/yQbJRGs0fy8/maxresdefault.jpg") center;
  display: flex;
  flex-direction: column;
}

.pyramid {
  width: 25%;
  background-color: #020230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 80px;
  font-size: 30px;
  font-weight: 700;
}

.bottom {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 2s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 2s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: crimson;
  }
}

/* .endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
} */

.endTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.endText {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.restartButton {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.restartButton:hover {
  background-color: #0056b3;
}


.start {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 650px; /* Ajusta la altura a tu preferencia */
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen horizontal y verticalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.startInput {
  width: auto; /* Ancho automático para ajustarse al contenido */
  height: 20px; /* Altura deseada */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500; 
  background-color: #eef1f5; /* Color de fondo del botón */
  color: #000; /* Color de texto del botón */
  padding: 5px 5px; 
  margin-bottom: 5%;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: auto; /* Ancho automático para ajustarse al contenido */
  height: 40px; /* Altura deseada */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  padding: 10px 20px; /* Espacio interno del botón */
}

.themeSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.themeSelection p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilo para el menú desplegable de temas */
.themeDropdown {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.errorText {
  color: red;
  font-weight: bold;
  
}
